<?php
/**
 * Author: xworm
 * Date: 13-9-8
 * Time: 下午8:05
 */

$url = get_conf('url');
?>

<div class="container about clearfix">
    <div class="row">
        <h2 class="span12">关于我们</h2>
    </div>

    <section id='about-us' class="row">
        <div class="span7">
            <h3>小美定位</h3>
            <p><small class="text-info">小美，为高品质搬家体验而生。</small></p>
            <p>小美以诚信为立足之本，致力为客户提供既便宜（小）又便利（美）的搬家服务，用心为你还原生活的美。</p>
            <br>
            <h3>服务理念</h3>
            <p><small class="text-info">在社会信任罹失，生活变得繁杂的当下，诚信是我们必须坚守的底线。</small></p>
            <p>今天的小美，依旧在为提升自己的服务水准而不懈努力。让客户省心是我们始终不变的追求，我们想要证明：搬家也可以是一种优雅的体验。</p>
            <br>
        </div>
        <div class="span5">
            <img src="<?=$url['static']?>/img/about-us.jpg" class="about-us-img" alt="我是一张图片">
        </div>
    </section>

    <hr>

    <section id='brief-intro' class="row">
        <div class="span12">
            <h3>公司简介</h3>
            <p>高新区尚美家政服务部是成立于2011年，是一家专营小型搬家业务的新型搬家公司。在社会各界的大力支持下经过全体员工的不懈努力，尚美搬家自成立便发展迅速，从成立初期的几个车组已发展为具有一定规模的专业搬家服务部，所有员工均受过专业培训。在服务中，我们始终遵守“客户第一，信誉至上”的经营宗旨，得到社会各界的好评，我们组织的专业技术培训使作业人员业务素质不断提高，服务水平更上一层楼，拆装高档组合家俱，各种类型的空调，热水器等快速，细致，安全，我们以优质的服务，合理的价格，赢得了众多客户的信赖和好评。</p>
            <p>我们的宗旨是：用户至上，服务为本。依法经营，损物赔偿。价格公平，合理收费，让你放心，让你满意。</p>
        </div>
    </section>

    <section id='our-story' class="row">
        <div class="span12">
            <h3>团队故事</h3>
            <p>小美，不仅仅是一群年轻人为了生活的努力，更是这群人追逐梦想的舞台。</p>
            <p>小美团队的核心成员，悉数来自国内知名的高等学府，他们在校园里面学习经济、管理、网络技术等等。在大学教育被普遍看衰的当今，他们仍期待着靠自身所学一展拳脚的机会，于是他们放弃了待遇优厚的工作，携手创业。毋庸置疑，“知识是第一生产力”，小美便将是最好的证明之一。</p>
            <p>小美的诞生，来源于创始成员数次糟糕的搬家体验，更另人吃惊的是：数年来，成都的搬家服务水准竟然毫无进步。在服务产业快速发展的现今，不进则退，于是我们坚信成都的<strong>搬家行业需要一股全新的力量</strong>，带着契合这个时代的理念，去影响，去催生一场行业的变革。终有一天，人们会发觉这个行业的进步，会抛弃过去对搬家服务提供者的固有印象，从而更乐意地接受这种服务。那个时刻，便是小美不懈努力的目标，也是搬家行业的又一个春天。</p>
            <p>因此，对<strong>高标准服务品质</strong>的坚持是小美永不妥协的军规。在小美的初创阶段，这确实是一件很不容易的事情，但是无论曾经如何艰难，我们都咬紧牙关，决不允许在用户体验上有一点松懈，在服务标准上有一丝放低。不仅如此，随着小美的发展，随着眼界的拓宽，我们仍在为我们的服务不断升级。客户的期望是我们工作的目标，而超乎客户的期望，则是我们的骄傲，也是我们的乐趣。</p>
            <p>服务，是以真诚的微笑去面对，并希望得到一个微笑的回应。不管怎样，我们坚信：用心成就小美！</p>
            <br>
        </div>
    </section>

    <hr>

    <section id="join-us" class="row">
        <div class="span12">
            <h3>加入我们</h3>
            <div class="recruit">
                <p>如果，你也是个开朗、正直、身强体壮的人</p>
                <p>如果，你也身怀抱负而且富有成就欲望</p>
                <p>或许我们可以一起探讨，亦或许你就是小美的下一个成员</p>
                <p>请致函 <a href="mailto:ixiaomei(at)ixiaomei.com">ixiaomei@ixiaomei.com</a></p>
            </div>

            <div class="map">
                <a href='http://api.map.baidu.com/geocoder?address=高新区肖家河中街10号&output=html' target='_blank'> <img style="margin:2px" width="320" height="210" src="http://api.map.baidu.com/staticimage?width=320&height=210&center=104.050519,30.637033&zoom=15&markers=104.050519,30.637033&markerStyles=l,A" /></a>
            </div>
        </div>
    </section>
</div>