<?php
/**
 * Author: xworm
 * Date: 13-8-7
 * Time: 上午12:31
 */
?>

<section id="assess">
    <div class="as-head">

    </div>

    <div class="as-body">
        <div id="as-step1" style="display: none">
            <div class="alert alert-info">合适的车型或许能为您节省一笔不小的开支，<a href="vans.html" target="_blank">哪种更适合您？</a></div>
            <div class="as-minibus pull-left current"></div>
            <div class="as-buggy pull-right"></div>
            <button id="as-to-step2" class="btn-large btn-next pull-right" type="button">下一步 ➜</button>
        </div>

        <div id="as-step2" style="display: none">
            <div class="as-floor pull-left">
                <label>现居所位于 <input type="text" id="old-floor" class="span1"> 楼</label>
                <label><input type="checkbox" id="old-lift"> 有电梯</label>
            </div>
            <div class="as-floor pull-right">
                <label>新居所位于 <input type="text" id="new-floor" class="span1"> 楼</label>
                <label><input type="checkbox" id="new-lift"> 有电梯</label>
            </div>
            <button id="as-to-step3" class="btn-large btn-next pull-right" type="button">下一步 ➜</button>
        </div>

        <div id="as-step3" style="display: none">
            <div class="alert alert-info as-big-checked">
            </div>
            <p>请从下列物品中选取您需要搬运的：</p>
            <div class="as-big">
                <a _xm_oid="1">空调(挂机)</a>
                <a _xm_oid="2">空调(柜机)</a>
                <a _xm_oid="3">冰箱</a>
                <a _xm_oid="4">滚筒洗衣机</a>
                <a _xm_oid="5">32寸以上电视</a>
                <br>
                <a _xm_oid="6">衣柜</a>
                <a _xm_oid="7">床</a>
                <a _xm_oid="8">梳妆台</a>
                <a _xm_oid="9">办公隔断</a>
                <a _xm_oid="10">会议桌</a>
                <a _xm_oid="0">其他</a>
            </div>
            <button id="as-to-step4" class="btn-large btn-next pull-right" type="button">下一步 ➜</button>
        </div>

        <div id="as-step4" style="display: none">
            <div class="alert">－。－ 抱歉，由于网络异常，小美没能测算出路程，请您估计一个值 </div>
            <div class="as-distance">
                <label>两地间车程约为 <input type="text" id="as-distance" class="span1" value="<10" placeholder="<10" /> 公里</label>
                <div class="tooltip bottom in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        请使用<br><a href="http://ditu.g.cn" target="_blank">谷歌地图</a>➝查询路线➝驾车<br>获取搬家行车里程
                    </div>
                </div>
            </div>
            <button id="as-to-step5" class="btn-large btn-next pull-right" type="button">获取估价 ➜</button>
        </div>

        <div id="as-step5" style="display: none">
            <div class="as-price">120.00</div>
            <div class="as-book">
                <a id="as-to-book" class="btn btn-more" type="button">预约 & 咨询</a>
                <p>或者</p>
                <label class="input-append">
                    <input id="as-phone" type="text" class="span4" placeholder="请留下您的联系方式，让小美主动联系您">
                    <button id="as-to-end" class="btn" type="button">Go!</button>
                </label>
            </div>

        </div>

    </div>

    <div class="as-foot">
        <div class="car" style="left: 0"></div>
        <div class="num">0%</div>
    </div>
</section>