<?php
/**
 * Author: xworm
 * Date: 13-9-8
 * Time: 下午8:13
 */
?>

<div class="container book">
    <div class="row">
        <h2 class="span12">联系方式</h2>
    </div>

    <section id="book-by-qq" class="row">
        <div class="side span3">
            <h3><i>1. </i>在线客服</h3>
            <p>
                <span class="pull-left">服务时间：</span>
                <span>每天 9:00-23:00<br>节假日不休</span>
            </p>
            <span class="pull-left">优先级</span>
            <div class="ui-slider ui-slider-1 pull-left"><span>最高</span></div>
        </div>

        <div class="span8 offset1">
            <a href="http://wpa.qq.com/msgrd?v=3&uin=844956521&site=qq&menu=yes" target="_blank" class="book-qq online pull-left"><span>QQ客服-小M</span></a>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=645655198&site=qq&menu=yes" target="_blank" class="book-qq online pull-left"><span>QQ客服-CDo</span></a>
            <P>
                温馨提示：<br>
                － 为避免电话占线，请优先选择QQ预定。<br>
                － 若可提供待搬运物品的照片，或是一张室内全景，可以极大的提高我们的交流效率。<br>
                － 为保障您的权益，请暂时保留聊天纪录（虽然我们相信您不可能用到）。
            </P>
        </div>
    </section>

    <hr>

    <section id="book-by-tel" class="row">
        <div class="side span3">
            <h3><i>2. </i>电话预约</h3>
            <p>
                <span class="pull-left">服务时间：</span>
                <span>每天 8:00-24:00<br>节假日不休</span>
            </p>
            <span class="pull-left">优先级</span>
            <div class="ui-slider ui-slider-2 pull-left"><span>高</span></div>
        </div>

        <div class="span8 offset1">
            <div class="book-tel pull-left"><span>客服热线：028-87771615</span></div>
            <P>
                温馨提示：<br>
                － 手机拨打电话，请保持手机信号通畅。<br>
                － 占线或无应答时，建议使用其他预约方式，或稍后再打。
            </P>
        </div>
    </section>

    <hr>

    <section id="book-by-web" class="row">
        <div class="side span3">
            <h3><i>3. </i>在线预约</h3>
            <p>
                <span class="pull-left">服务时间：</span>
                <span>24 x 7</span>
            </p>
            <span class="pull-left">优先级</span>
            <div class="ui-slider ui-slider-3 pull-left"><span>普通</span></div>
        </div>

        <div class="span8 offset1">
            <form class="form">
                <label>
                    <span>称呼</span>
                    <input type="text" id="book-name" value="" placeholder="您的姓名" class="span2"> 先生／女士
                </label>
                <div class="clearfix">
                    <label class="pull-left">
                        <span>地址</span>
                        <input type="text" id="book-old-ads" value="" placeholder="当前住所地址" class="span3">
                    </label>
                    <label class="pull-left">
                        <span class="arrowRight"></span>
                        <input type="text" id="book-new-ads" value="" placeholder="新住所地址" class="span3">
                    </label>
                </div>
                <label>
                    <span>日期</span>
                    <input type="date" id="book-date" value="" placeholder="选定搬家日期" class="span4">
                </label>
                <div class="radio-line clearfix" id="book-van">
                    <label class="pull-left">
                        <span>车型</span>
                    </label>
                    <label class="radio pull-left">
                        <input type="radio" name="van" value="m" checked>面包车
                    </label>
                    <label class="radio pull-left">
                        <input type="radio" name="van" value="b">小火车
                    </label>
                    <label class="radio pull-left">
                        <input type="radio" name="van" value="u">我不清楚
                    </label>
                </div>
                <label>
                    <span>手机</span>
                    <input type="text" id="book-phone" value="" placeholder="您的联系方式" class="span4">
                </label>
                <label>
                    <span> </span>
                    <button class="btn-large btn-more" id="book-btn" type="button">立即预约 ➜</button>
                </label>
            </form>
            <P>
                温馨提示：<br>
                － 建议您优先使用在线客服 或 客服热线进行预定。<br>
                － 请在预定12小时内保持电话畅通，小美会在第一时间向您确认预约信息。
            </P>
        </div>
    </section>

</div>
