<?php
/**
 * Author: xworm
 * Date: 13-9-8
 * Time: 下午7:32
 */

$url = get_conf('url');
?>

<section id="contact">
  <div class="links">
    <a href="http://wpa.qq.com/msgrd?v=3&uin=844956521&site=qq&menu=yes" target="_blank" class="QQ pull-left">QQ在线预约</a>
    <div class="TEL pull-left">028-87771615</div>
  </div>
</section>

<!-- 侧边浮动小工具 -->
<div class="float-tool">
    <div id="J_gotoTop" class="btn-tool top">
        <a title="回到顶部">
            <div class="J_up2"></div>
        </a>
    </div>
    <div id="J_onlineHelp" class="btn-tool">
        <a title="小美帮助">
            <div class="J_help"></div>
        </a>
    </div>
    <div id="J_showTel" class="btn-tool">
        <a href="callto:028-87771615" href="wtai://wp/mc;028-87771615" title="拨打电话">
            <div class="J_tel_num">
                <span>028-87771615</span>
            </div>
        </a>
    </div>
</div>

<footer>
  <p>
    <a href="<?=$url['web']?>/about.html">关于我们</a>|<a href="<?=$url['web']?>/about.html#join-us">招聘信息</a>|<a href="<?=$url['web']?>/#welcome">在线估价</a>|<a href="price.html">收费标准</a>|<a href="<?=$url['web']?>/book.html">预约服务</a>
  </p>
  <p>Copyright © 2011 - 2013 小美搬家 版权所有 蜀ICP备13018029号</p>
</footer>

<script src="<?=$url['static']?>/js/jquery.meg.js"></script>
<script src="<?=$url['static']?>/js/video.js"></script>
<script src="<?=$url['static']?>/js/xiaom.min.js"></script>
<!--[if lt IE 9]>
<script src="<?=$url['static']?>/js/IE-hack.js"></script>
<![endif]-->

</body></html>