<?php
/**
 * Author: xworm
 * Date: 13-9-8
 * Time: 下午7:02
 */

$url = get_conf('url');
?>

<!DOCTYPE html>
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><?=$title?></title>

  <link href="<?=$url['static']?>/css/bootstrap.css" media="all" rel="stylesheet" type="text/css">
  <link href="<?=$url['static']?>/css/blackbox.css" media="all" rel="stylesheet" type="text/css">
  <link href="<?=$url['static']?>/css/xiaom.css" media="all" rel="stylesheet" type="text/css">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <script src="<?=$url['static']?>/js/html5shiv.js"></script>
  <link href="<?=$url['static']?>/css/IE-hack.css" media="all" rel="stylesheet" type="text/css">
  <![endif]-->

</head>
<body>
<header class="navbar navbar-static-top">

  <div class="navbar-inner">
    <div class="container">
      <a class="logo" href="/"></a>

      <div class="nav-collapse pull-right">
        <ul class="nav pull-left">
          <li <? if($page === 'home') echo 'class="current"'?>><a href="/">首 页</a></li>
          <li <? if($page === 'book') echo 'class="current"'?>><a href="<?=$url['web']?>/book.html">联系方式</a></li>
          <li <? if($page === 'vans') echo 'class="current"'?>><a href="<?=$url['web']?>/vans.html">车型介绍</a></li>
          <li <? if($page === 'price') echo 'class="current"'?>><a href="<?=$url['web']?>/price.html">收费标准</a></li>
          <li <? if($page === 'about') echo 'class="current"'?>><a href="<?=$url['web']?>/about.html">关于我们</a></li>
          <li class="effect"></li>
        </ul>
      </div>

    </div>
  </div><!-- end of .navbar-inner -->

</header>