<?php
/**
 * Author: xworm
 * Date: 13-9-8
 * Time: 下午7:31
 */

$url = get_conf('url');
?>

<section id="welcome">
    <div class="container">
        <div class="row">

            <div class="span5">
                <h1>省心，方可悦由心生</h1>
                <p>两年前的夏季，<br />
                    两名饱受搬家之苦的大学生<br />
                    决心创办一家让客户省心的搬家公司<br />
                    小美，专注小型搬家<br />
                    小美，更关心你的微笑
                </p>
            </div>

            <div class="get_started pull-right">
                <div class="move_map">在小美，您可以先掌握价格</div>
                <div class="move_plan">
                    <form name="move_plan" action="#" method="post">
                        <label>
                            <span class="pull-left">从</span><input type="text" id="old_ads" value="" placeholder="当前住所地址" class="span3">
                        </label>
                        <label>
                            <span class="pull-left">到</span><input type="text" id="new_ads" value="" placeholder="新住所地址" class="span3">
                        </label>
                        <button id="home-to-step2" class="btn-large btn-next pull-right" type="button">快速估价 ➜</button>
                    </form>
                </div>
            </div><!-- end of .get_started -->
        </div>
    </div>
</section>

<section id="explanation">
    <div class="container">
        <div class="row">

            <div class="span4">
                <ol class="cool-list">
                    <li>
                        <h4>打包零碎物品</h4>
                        <p>建议您先把待搬物品列成清单，并将小件物品打包</p></li>
                    <li>
                        <h4>联系小美搬家</h4>
                        <p>致电或QQ联系小美搬家，在客服的帮助下预约合适的车型与时间</p></li>
                    <li>
                        <h4>小美为你服务</h4>
                        <p>在家等候小美工作人员准时上门，搬家过程中，请提醒工作人员注意事项</p></li>
                    <li>
                        <h4>享受你的新家</h4>
                        <p>是的，有小美，搬家就是如此省心。赶紧享受你的新家吧</p>
                    </li>
                </ol>
            </div>

            <div class="span7 offset1 home-video">
                <!--[if !IE]> -->
                <video class="video-js" controls
                       preload="auto" width="540" height="304" poster="<?=$url['static']?>/img/video/poster.png" data-setup="{}">
                    <source src="" type="video/mp4">
                    <source src="" type="video/webm">
                </video>
                <!-- <![endif]-->

                <!--[if IE]>
                <video class="video-js" controls
                       preload="auto" width="540" height="304" poster="http://video-js.zencoder.com/oceans-clip.jpg" data-setup="{}">
                    <source src="" type='video/mp4'/>
                    <source src="" type='video/webm'/>
                </video>
                <![endif]-->
            </div> <!-- /video -->

        </div>
    </div>
</section>

<section id="user-quote">
    <ul class="user-quote-list">
        <li><span>小美搬家嘛，确实是很不错的搬家公司了，师傅搬东西都是多小心的。</span></li>
        <li><span>因为东西不多，我住四楼而且没有电梯，都有加钱。这点我很满意的，下次还找你们！</span></li>
        <li><span>以前搬家都找亲戚朋友帮忙，真的麻烦，现在找搬家公司就省事多了。小美搬家确实好方便。</span></li>
        <li><span>白天要上班，选择的晚上搬家，问了几家，报价都要400多，小美搬家220就搞定了。小伙子们真不错。赞！</span></li>
    </ul>
</section>


<section id='show-us'>
    <div class="container">
        <div class="row b-box">

            <div class="concept">
                <div class="xiao pull-left">
                    <div class="xiao-img pull-left"></div>
                    <dl>
                        <dt>简约 · 用户至上</dt>
                        <dd>
                            小美专注于小型搬家服务 <br />
                            倡导按需分配资源，追求经济简约 <br />
                            诚挚为您提供最优搬家方案
                        </dd>
                    </dl>
                    <div class="line"></div>
                </div><!-- end of .xiao -->

                <div class="mei pull-right">
                    <div class="mei-img pull-right"></div>
                    <dl>
                        <dt>完美 · 悦由心生</dt>
                        <dd>
                            小美搬家，简约却绝不简单<br>
                            规范的操作，敏捷的服务<br>
                            让您省心，就是我们无尽的动力
                        </dd>
                    </dl>
                    <div class="line"></div>
                </div><!-- end of .xiao -->

            </div><!-- end of .concept -->

            <div class="service">
                <div class="cd-img pull-left"></div>
                <div class="sev-content">
                    <p>对象：租户／学生／家庭／小型公司</p>
                    <p>范围：成都市及周边地区</p>
                    <p>
                        <span class="pull-left">项目：</span>
                        <span>居民搬家、办公室搬迁、货车出租<br />家具拆装、空调移机等</span>
                    </p>
                </div>
            </div><!-- end of .service -->

            <div class="vans">
                <div class="minibus-img"></div>
                <div class="minibus pull-left">
                    <table class="table">
                        <tr><th colspan="2">货运面包车</th></tr>
                        <tr><td>内部空间</td><td>2.0m*1.2m*1.2m</td></tr>
                        <tr><td>派工人数</td><td>1-2人</td></tr>
                        <tr><td>价格区间</td><td>120-180元／次</td></tr>
                        <tr><td colspan="2">
                                <a href="<?=$url['web']?>/vans.html#vans-type" class="btn-large btn-more pull-left" type="button">查看详情 ➜</a>
                            </td></tr>
                    </table>
                </div>

                <div class="buggy-img"></div>
                <div class="buggy pull-right">
                    <table class="table pull-right">
                        <tr><th colspan="2">厢式小货车</th></tr>
                        <tr><td>内部空间</td><td>2.5m*1.5m<strike>*1.5m</strike></td></tr>
                        <tr><td>派工人数</td><td>2人</td></tr>
                        <tr><td>价格区间</td><td>180-280元／次</td></tr>
                        <tr><td colspan="2">
                                <a href="<?=$url['web']?>/vans.html#vans-type" class="btn-large btn-more pull-left" type="button">查看详情 ➜</a>
                            </td></tr>
                    </table>
                </div>

            </div><!-- end of .vans -->

            <div class="team">
                <div class="team-content">
                    <h3><span>年轻</span><span>规范</span><span>志存高远</span></h3>
                    <p>小美是一支年轻的团队，成员以90后为主，<br>两名主要创始人都是国内知名高校的90后大学生。</p>
                    <p>小美在团队上引进国外“两个男人一辆车”的管理模式<br>保证高质量的团队，才能保证高质量的服务。</p>
                    <p>年轻没有不足，搬家也是充满创造力的人生舞台，<br>我们立志：要为更多人还原生活原来的美。</p>
                </div>

            </div><!-- end of .team -->

            <div class="axle">
                <div class="circle c-01">理念</div>
                <div class="circle c-02">服务</div>
                <div class="circle c-03">车型</div>
                <div class="circle c-04">团队</div>
                <div class="circle c-05">印象</div>
            </div><!-- end of .axle -->

        </div>
    </div>

    <div class="impress">
        <div class="container">
            <div class="row b-box">
                <div class="weixin pull-left">
                    <h3 class="pull-left">微信平台</h3>
                    <div class="qrcode-box pull-left">
                        <img src="<?=$url['static']?>/img/qrcode.jpg" />
                    </div>
                </div>

                <div class="rate pull-right">
                    <h3>顾客评价</h3>
                    <div class="star-box">
                        <ul class="clearfix">
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="half-star"></li>
                        </ul>
                    </div>
                    <p>＊基于<b> 627 </b>条用户评价</p>
                </div><!-- end of .rate -->

            </div>
        </div>

    </div>
</section>