<?php
/**
 * Author: xworm
 * Date: 13-9-8
 * Time: 下午8:19
 */
?>

<div class="container">
    <div class="row price">
        <div class="span3">
            <section id="left-side">
                <h2>资费标准</h2>
                <p>
                    您仍顾虑消费陷阱而犹豫不决吗？
                    无需担心 —— 小美提供了详细的
                    资费标准。根据标准您可以评估每
                    一项收费，就如同去超市购物一般
                    轻松愉快。
                </p>
                <br>
                <p>除此之外，我们还提供了在线估价服务。30秒完成估价！</p>
                <br>
<!--                <button class="btn-large btn-more" type="button">快速估价 ➜</button>-->
                <a href="/#welcome" class="btn-large btn-more">快速估价 ➜</a>
            </section>
        </div>

        <div class="span8 offset1">
            <section id="cost-list">
                <h3>基础服务</h3>
                <dl>
                    <dt>货运面包车</dt>
                    <dd>随车配一名工人 120元／车，可视情况加派工人。</dd>
                </dl>
                <dl>
                    <dt>厢式小货车</dt>
                    <dd>小货车通常随车配置两名工人，基础收费 180元／车。</dd>
                </dl>

                <h3>增值服务</h3>
                <dl>
                    <dt class="dt-icon-1">搬运附加费</dt>
                    <dd>
                        楼层附加费：3楼（含）以下不计费、3楼以上每层10元，电梯不计楼层费。<br>
                        平面搬运费：若车辆无法停靠至楼梯口，10米内不计费，超出每米加收2元。<br>
                        大件物品：不可拆的笨重大件，视搬运难度每件加收 50-200元不等。<br>
                        <span>＊常见笨重大件：大型复印机、保险柜、钢琴、大鱼缸、大镜子、健身器材、32寸以上电视、滚筒洗衣机、200立升以上冰箱等</span>
                    </dd>
                </dl>
                <dl>
                    <dt class="dt-icon-2">距离附加费</dt>
                    <dd>
                        两地间车程在10公里内不计费，超出部分按 5元／公里 收取。<br>
                        <span>＊车程以客户定制服务时，由google地图测得的路程为准，实际情况中由于堵车、绕路产生的额外行程由小美承担。</span>
                    </dd>
                </dl>
                <dl>
                    <dt class="dt-icon-3">拆装附加费</dt>
                    <dd>
                        家具拆装：门、柜、梳妆台、床、办公隔断、板台、会议桌等每件收取10-50元。<br>
                        空调移机：壁挂机 (80-90元)；柜机(100-120元)； 不含材料费。
                    </dd>
                </dl>

                <h3>特别说明</h3>
                <p>
                    1. 交通早晚高峰时段 （7:00-9:00，17:00-21:00），所有货车禁止在三环内行驶。如果使用货车搬运，请尽量避开此时段。面包车无交通限制。<br>
                    2. 因客户原因造成作业车组到位后不能工作延误工时，每小时加收80元。<br>
                    3. 取消预定，请提前3小时联系客服说明。如果车辆已到位，会收取总价一半的车辆返空费。<br>
                    4. 需要放行条的社区，请提前咨询社区物业办理，避免造成无谓的等待。<br>
                    5. 物品由客户自行包装，如因未作防损包装造成搬运物品不慎破损或者运输破损责任自负。<br>
                    6. 如有贵重物品须投保，保费按物品价值的2%计算，如没有投保破损最高赔偿不得超过运费。
                </p>

            </section>
        </div>
    </div>
</div>
