<?php
/**
 * Author: xworm
 * Date: 13-9-8
 * Time: 下午8:17
 */

?>

<div class="container">
    <div class="row">

        <div class="span8">
            <section id="vans-guide">
                <h2>小美说：“行李别动，货车先来。”</h2>
                <p>对于搬家而言，选择合适的车型往往是定制服务的第一步。</p>
                <p>货车是搬家的基础，在很大程度上左右了搬家服务的价格。小美倡导合理利用资源，物尽其用，我们希望每个客户都可以按照其行李的实际数量来选择相应的车型。合理的选择，首先可以替您避免不必要的花销，降低搬家成本；另一方面也有助于小美合理调度资源，提高工作效率；在更大意思上，这也是体现您对低碳环保社会的支持。还原自然的美，我们的生活才能更美。</p>
                <p>如何选择合适的车型？在小美这里，您会惊奇它居然是一件如此轻松的事情。</p>
            </section>

            <section id="vans-type">
                <h3>车型参数，一目了然</h3>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <td class="head-text" rowspan="2">车型展示</td>
                        <td class="van-name">货运面包车</td>
                        <td class="van-name">厢式小货车</td>
                    </tr>
                    <tr>
                        <td class="van-small"></td>
                        <td class="van-big"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>装载空间</td>
                        <td>2.0m * 1.2m * 1.2m</td>
                        <td>2.5m * 1.5m <strike>* 1.5m</strike></td>
                    </tr>
                    <tr>
                        <td>派工数</td>
                        <td>1-2人</td>
                        <td>2人</td>
                    </tr>
                    <tr>
                        <td>总价格</td>
                        <td>120-180元/次</td>
                        <td>180-280元/次</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a class="btn btn-book">查看详细</a>
                        </td>
                        <td><a class="btn btn-book">查看详细</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <section id="right-side" class="span3 offset1">
            <p>“两个男人一辆车”是小美团队标准配置，但并不意味着总是两个人</p>
            <p>车型收费区间由数学统计得出，通常具有很高的参考性，具体资费见<br /><a href="/price.html">>>收费标准</a></p>
            <p>如果您有大量的大型家具和家电，而小美不能一次搬完，建议您选择<br /><a href="http://www.chinaant.net/?comefrom=ixiaomei.com%5F%5F小美搬家是最nice的小型搬家公司没有之一">>>蚂蚁搬家</a></p>
        </section>
    </div>

    <div class="row">
        <section id='vans-case' class="span12">
            <h3>案例参考，心中有数</h3>
            <div class="row">
                <div class="span2">
                    <div class="van">
                        <h4>李同学</h4>
                        <time>2013-07-23</time>
                        <p>单人／学生／自行车</p>
                    </div>
                </div>
                <div class="span10">
                    <table class="table">
                        <tr>
                            <td>行李箱</td>
                            <td>编织袋</td>
                            <td>台式电脑</td>
                            <td>山地自行车</td>
                            <td>另有书包、纸箱若干</td>
                        </tr>
                        <tr>
                            <td>x 2</td>
                            <td>x 3</td>
                            <td>x 1</td>
                            <td>x 1</td>
                            <td></td>
                        </tr>
                    </table>
                    <button class="prev win8-btn"></button>
                    <button class="next win8-btn"></button>
                </div>
            </div>

            <div class="row">
                <div class="span10">
                    <table class="table">
                        <tr>
                            <td>行李箱</td>
                            <td>编织袋</td>
                            <td>冰箱</td>
                            <td>双人床</td>
                            <td>衣柜</td>
                            <td>厨房餐具</td>
                            <td>29寸液晶电视</td>
                            <td>……未能完全展示</td>
                        </tr>
                        <tr>
                            <td>x 2</td>
                            <td>x 4</td>
                            <td>x 1</td>
                            <td>x 1</td>
                            <td>x 1</td>
                            <td>x 1</td>
                            <td>x 1</td>
                            <td></td>
                        </tr>
                    </table>
                    <button class="prev win8-btn"></button>
                    <button class="next win8-btn"></button>
                </div>
                <div class="span2">
                    <div class="van">
                        <h4>何先生</h4>
                        <time>2013-07-25</time>
                        <p>夫妻／白领／衣柜</p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
