html {
    _background: url(about:blank) no-repeat fixed;
}

#BlackBox {
    z-index: 8000;
    position: fixed;
    top: 0;
    left: 0;
    _position: absolute;
    _left: expression(eval(document.documentElement.scrollLeft));
    _top: expression(eval(document.documentElement.scrollTop))
}

#BlackBox p, #BlackBox input, #BlackBox button {
    line-height: 20px;
    font-size: 14px;
}

#BBOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background: black url("../img/blackbox/fullbody.png") repeat;
    z-index: -1;
    _z-index: 7000;
}

.BlackBoxContent {
    z-index: 8050;
    background-color: rgba(0, 0, 0, 0.4);
    background: none\9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000)\9;
    position: absolute;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #3e3a39;
    padding: 1px 2px;
    zoom: 1;
}

#BlackBox p.title {
    *width: 390px;
    margin: 0;
    padding: 5px 0 5px 10px;
    font-size: 13px;
    color: #cccccc;
    font-weight: bold;
    text-shadow: -1px 0 #444;
}

.BlackBoxContent .system {
    width: 400px;
    padding: 20px 20px 50px;
}

.BlackBoxContent .Inner {
    background: #f9f9f9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #727171;
}

.BlackBoxContent .Inner p {
    margin: 0;
    padding: 5px 0;
}

.BlackBoxContent .close {
    position: absolute;
    right: 8px;
    top: 5px;
    cursor: pointer;
    background: rgba(150,20,0,.6);
    background: darkred\9;
    opacity: .8;
    float: left;
    line-height: 17px;
    color: #ffffff;
    width: 24px;
    height: 18px;
    border: 1px solid #555555;
    text-align: center;
}

.BlackBoxContent .close:hover {
    background: rgba(150,20,0,.5);
    background: darkred\9;
}

#BlackBoxAction {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

#BlackBoxAction button {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    color: #fff;
    padding: 6px 16px;
    _height: 36px;
    _padding: 8px 8px;
    margin: 0 3px;
    background: #4297da;
    border: 1px solid #3663a4;
    cursor: pointer;
    float: right;
}

#BlackBoxAction button:hover {
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 2px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

#BlackBoxAction button:active {
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4) inset;
    -moz-box-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4) inset;
    opacity: 1;
    color: rgba(255, 255, 255, 0.5);
}

#BlackBoxAction button.cancel {
    background: #f5f5f5;
    color: #333333;
    border-color: #cccccc;
}

.system input {
    display: inline-block;
    height: 20px;
    width: 384px;
    padding: 5px 8px;
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.system input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted  \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.system input.boxError {
    border-color: #953b39;
}

.system input.boxError:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

#BlackBoxLoad {
    position: absolute;
    text-indent: -9999px;
    background: url("../img/blackbox/load.gif") no-repeat;
    width: 58px;
    height: 10px;
    z-index: 9999;
}