.navbar-inner .container .-tmp-tel {
    color: #ffffff;
    font-weight: normal;
}

#welcome {
    position: relative;
    background: #00a1cd url("../img/hero_left.png") no-repeat left bottom;
}

#welcome:before {
    width: 100%;
    height: 413px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/hero_float.png") no-repeat 23% bottom;
    content: "";
}

#welcome:after {
    width: 100%;
    height: 413px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/hero_right.png") no-repeat right bottom;
    content: "";
}

#welcome .get_started {
    background: url("../img/get-started-bg.png") repeat;
}

#welcome .get_started .btn-next {
    position: relative;
    z-index: 2;
    behavior: url(./statics/js/ie-css3.htc);
}

#welcome .get_started .btn-next .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FABD4A;
    border-radius: 6px;
    behavior: url(./statics/js/ie-css3.htc);
}

#welcome .get_started .move_plan label {
    position: relative;
    z-index: 2;
    behavior: url(./statics/js/ie-css3.htc);
}

#welcome .get_started .move_plan label span {
    height: 39px;
}

#explanation ol.cool-list > li:before {
    background: url("../img/cool-list-head.png") no-repeat;
}


#book-by-web input[type="text"], #book-by-web input[type="date"] {
    position: relative;
    z-index: 2;
    behavior: url(./statics/js/ie-css3.htc);
}

#book-by-web .error input[type="text"], #book-by-web .error input[type="date"] {
    border-color: #FF530D!important;
}

#show-us .star-box {
    position: relative;
    z-index: 2;
    behavior: url(./statics/js/ie-css3.htc);
}

#assess .as-minibus {
     background: url("../img/vans-ie.png") 8px 10px no-repeat;
 }

#assess .as-buggy {
    background: url("../img/vans-ie.png") 10px -114px no-repeat;
}

.QQ:hover {
    color: #FA9600;
}

.btn-more {
    position: relative;
    z-index: 2;
    behavior: url(./statics/js/ie-css3.htc);
}

.btn-more .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #46B8E2;
    border-radius: 6px;
    behavior: url(./statics/js/ie-css3.htc);
}


