@font-face {
    font-family: 'Flat-UI-Icons';
    src: url('../fonts/Flat-UI-Icons.eot');
    src: url('../fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Flat-UI-Icons.woff') format('woff'), url('../fonts/Flat-UI-Icons.ttf') format('truetype'), url('../fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
    background: #f7f9fc;
    min-width: 960px;
    color: #666666;
    position: relative;
}

h2, h3 {
    color: #333333;
}

/* ============================================================ */

header .navbar-inner {
    padding: 0;
    background: #053849;
    height: 100px;
    border: none;
    filter: none; /* IE 6-8 */
}

.navbar-inner .container {
    width: 960px;
}

.navbar-inner .container .logo {
    width: 320px;
    height: 52px;
    position: absolute;
    top: 28px;
    background: url("../img/logo.png") no-repeat;
    display: block;
}

.navbar-inner .container .nav-collapse {
    margin-top: 56px;
    position: relative;
}

.navbar-inner .container .-tmp-tel {
    position: absolute;
    top: -1px;
    right: 5%;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #06536d;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.25);
}

.navbar-inner .container .-tmp-tel span {
    display: inline-block;
    padding: 6px 12px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    border-right: 1px solid #053849;
}

.navbar-inner .container .-tmp-tel span+span {
    border-left: 1px solid #066883;
    border-right: none;
}

.navbar-inner .container .-tmp-tel span:hover {
    color: #FABD4A;
    cursor: pointer;
}

.navbar .nav > li > a {
    color: #fff;
    font-size: 15px;
    text-shadow: none;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.navbar .nav > li > a:hover, .navbar .nav > li.current > a {
    color: #FABD4A;
}

.navbar-inner .effect {
    position: absolute;
    height: 4px;
    bottom: -4px;
    background: #FA9600;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.nav li:nth-child(1).current ~ .effect {
    left: 10px;
    width: 46px;}
.nav li:nth-child(2).current ~ .effect {
    left: 74px;
    width: 70px;}
.nav li:nth-child(3).current ~ .effect {
    left: 164px;
    width: 70px;}
.nav li:nth-child(4).current ~ .effect {
    left: 254px;
    width: 70px;}
.nav li:nth-child(5).current ~ .effect {
    left: 344px;
    width: 70px;}

.nav li:nth-child(1):hover ~ .effect {
    left: 10px;
    width: 46px;}
.nav li:nth-child(2):hover ~ .effect {
    left: 74px;
    width: 70px;}
.nav li:nth-child(3):hover ~ .effect {
    left: 164px;
    width: 70px;}
.nav li:nth-child(4):hover ~ .effect {
    left: 254px;
    width: 70px;}
.nav li:nth-child(5):hover ~ .effect {
    left: 344px;
    width: 70px;}

/* ============================================================ */
/*                         home.html                            */
/* ============================================================ */

#welcome {
    width: 100%;
    height: 413px;
    background: #00a1cd;
    letter-spacing: 1px;
    background-position: left bottom, 23% 100%, right bottom;
    background-image: url("../img/hero_left.png"), url("../img/hero_float.png"), url("../img/hero_right.png");
    background-repeat: no-repeat;
}

#welcome .span5 > h1 {
    color: #FFF;
    padding-top: 64px;
    font-size: 41px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 15px;
    text-shadow: 0px -2px #0893B6;
}

#welcome .span5 > p {
    color: #fff;
    font-size: 18px;
    line-height: 1.6em;
    margin: 10px 0;
    text-shadow: 0px -2px #0893B6;
}

#welcome .get_started {
    width: 400px;
    height: 280px;
    margin-top: 68px;
    background-color: rgba(249, 249, 249, 0.90);
    border-radius: 2px;
    border: 1px solid #6AC1FF;
    border-bottom: 3px solid #2b9dbb;
}

.get_started .move_map {
    width: 350px;
    text-indent: 10px;
    margin: 40px auto 0;
    font-size: 16px;
}

.get_started .move_plan {
    width: 340px;
    margin: auto;
}

.move_plan label {
    border: 2px solid #6AC1FF;
    border-radius: 5px;
    background: #F9F9F9;
    margin: 12px 0;
}

.move_plan label span {
    background: #7ACEDC;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    width: 38px;
    height: 38px;
    text-align: center;
    color: white;
    font: 700 16px/38px Helvetica;
    display: block;
}

.move_plan label input[type='text'] {
    width: 84%;
    height: 20px;
    margin: 0;
    padding: 10px 0 8px 6px;
    border: none;
    line-height: 20px;
    border-radius: 4px;
    background: #F9F9F9;
}

.move_plan label input[type='text']:focus {
    border: none;
    box-shadow: none;
}

.move_plan label.error {
    background: #ffdfe3;
}

.move_plan label.error input[type='text'] {
    background: #ffdfe3;
}

/* ============================================================ */

#explanation {
    padding: 60px 0;
    background: #ffffff;
}

#explanation ol.cool-list {
    counter-reset: item;
}

#explanation ol.cool-list > li {
    list-style-type: none;
    padding-left: 50px;
    margin: 10px 0 30px;
    position: relative;
}

#explanation ol.cool-list > li > h4 {
    font-size: 18px;
    line-height: 30px;
    color: #50666D;
    margin: 0;
}

#explanation ol.cool-list > li > p {
    line-height: 1.6em;
}

#explanation ol.cool-list > li:before {
    background: #7ACEDC;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    color: white;
    font: 700 15px/32px Helvetica;
    display: block;
    left: 0;
    position: absolute;
    content: counter(item) " ";
    counter-increment: item;
}

#explanation ol.cool-list > li:last-child:before {
    content: ": )";
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

#explanation .home-video {
    margin-top: 18px;
    padding-top: 95px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* ============================================================ */

#user-quote {
    width: 100%;
    height: 90px;
    background: url("../img/user-quotes-bg.jpg") repeat-x;
}

#user-quote ul.user-quote-list {
    list-style: none;
    height: 70px;
    width: 960px;
    margin: 0 auto;
    top: 20px;
    position: relative;
    overflow: hidden;
}

#user-quote ul.user-quote-list li {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    height: 70px;
    line-height: 70px;
}

#user-quote ul li span:before {
    content: "“";
}

#user-quote ul li span:after {
    content: "”";
}

/* ============================================================ */

#show-us {
    width: 100%;
    background: #fcf9fc;
    font-size: 16px;
    line-height: 24px;
}

#show-us .b-box {
    position: relative;
}

#show-us .concept {
    width: 960px;
    height: 112px;
    padding: 94px 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#show-us .concept dl dt {
    font-size: 24px;
    line-height: 36px;
}

#show-us .concept dl dd {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

#show-us .concept .line {
    width: 80%;
    border-bottom: 1px dashed #7acedc;
    position: absolute;
    bottom: 0;
}

#show-us .xiao, #show-us .mei {
    position: relative;
}

#show-us .xiao .xiao-img, #show-us .mei .mei-img {
    width: 112px;
    height: 112px;
}

#show-us .xiao .xiao-img {
    background: url("../img/icon.png");
}

#show-us .xiao dl {
    margin: 0 0 0 136px;
}

#show-us .xiao .line {
    right: 0;
}

#show-us .mei .mei-img {
    background: url("../img/icon.png") -149px 0;
}

#show-us .mei dl {
    margin: 0 136px 0 0;
}

#show-us .mei .line {
    left: 0;
}

/* ------------------------------------------------------------ */

#show-us .service {
    width: 960px;
    height: 188px;
    padding: 52px 0 60px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#show-us .service .cd-img {
    height: 188px;
    width: 320px;
    background: url("../img/icon.png") 0 -150px;
}

#show-us .service .sev-content {
    padding: 48px 0 0 340px;
}

#show-us .service .sev-content p span {
    display: inline-block;
}

/* ------------------------------------------------------------ */

#show-us .vans {
    width: 960px;
    height: 208px;
    padding: 46px 0 46px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#show-us .vans table th {
    font-size: 20px;
    line-height: 32px;
    padding: 14px 8px 6px 68px;
    border-bottom: 1px solid #00a1cd;
    border-top: none;
}

#show-us .vans table td {
    text-align: center;
    padding: 6px 8px;
    border-top: 1px solid #aedfe9;
}

#show-us .vans .minibus-img {
    position: absolute;
    width: 180px;
    height: 112px;
    background: url("../img/vans.png");
    top: 100px;
    left: 5px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#show-us .vans .minibus-img:hover {
    left: -80px;
}

#show-us .vans .minibus {
    position: relative;
    height: 208px;
    width: 240px;
    margin-left: 88px;
    background: url("../img/icon.png") 0 -350px;
}

#show-us .minibus table {
    margin-left: 34px;
}

#show-us .minibus th {
    background: url("../img/icon.png") -438px 16px no-repeat;
}

#show-us .vans .buggy-img {
    position: absolute;
    width: 180px;
    height: 135px;
    background: url("../img/vans.png") 0 -150px;
    top: 88px;
    right: 5px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#show-us .vans .buggy-img:hover {
    right: -80px;
}

#show-us .vans .buggy {
    position: relative;
    height: 208px;
    width: 240px;
    margin-right: 88px;
    background: url("../img/icon.png") -133px -350px;
}

#show-us .buggy table {
    margin-right: 34px;
}

#show-us .buggy th {
    background: url("../img/icon.png") -436px -34px no-repeat;
}

/* ------------------------------------------------------------ */

#show-us .team {
    width: 960px;
    height: 480px;
    margin: 0 auto;
    background: url("../img/bgimg.png") 50% 234px no-repeat;
}

#show-us .team .team-content {
    margin-left: 436px;
    padding-top: 64px;
}

#show-us .team-content h3 {
    margin-left: 30px;
}

#show-us .team-content h3 span {
    font-size: 24px;
    padding: 0 12px;
    color: #7acedc;
}

#show-us .team-content h3 span+span {
    font-size: 26px;
}

#show-us .team-content h3 span:last-of-type {
    font-size: 28px;
}

#show-us .team-content p {
    margin: 0 0 20px;
}

#show-us .team-content p+p {
    padding-left: 64px;
}

#show-us .team-content p:last-of-type {
    padding-left: 128px;
}

#show-us .team-content p:before {
    width: 4px;
    height: 40px;
    background: #7acedc;
    display: block;
    float: left;
    margin: 4px 6px;
    content: "";
}

/* ------------------------------------------------------------ */

#show-us .axle {
    position: absolute;
    width: 560px;
    height: 1400px;
    top: 0;
    left: 200px;
}

#show-us .axle .circle {
    position: absolute;
    width: 110px;
    height: 110px;
    font-size: 24px;
    line-height: 110px;
    text-align: center;
    background: url("../img/icon.png") -300px 0 no-repeat;
}

#show-us .axle .c-01 {
     left: 225px;
     top: 95px;
}

#show-us .axle .c-02 {
    left: 505px;
    top: 395px;
}

#show-us .axle .c-03 {
    left: 225px;
    top: 695px;
}

#show-us .axle .c-04 {
    left: -55px;
    top: 995px;
}

#show-us .axle .c-05 {
    left: 225px;
    top: 1295px;
}

#show-us .axle .c-01:after, #show-us .axle .c-04:after {
    width: 208px;
    height: 222px;
    position: absolute;
    background: url("../img/line.png");
    top: 93px;
    left: 93px;
    content: '';
}

#show-us .axle .c-02:after, #show-us .axle .c-03:after {
    width: 208px;
    height: 222px;
    position: absolute;
    background: url("../img/line.png") 0 -222px;
    top: 93px;
    left: -190px;
    content: '';
}

/* ------------------------------------------------------------ */

#show-us .impress {
    width: 100%;
    color: #ffffff;
    text-shadow: 0px -2px #0893B6;
    background: #00a1cd url(../img/signup-bg.png) repeat-x;
}

#show-us .impress .b-box {
    position: relative;
}

#show-us .impress .weixin {
    width: 480px;
    height: 200px;
}

#show-us .weixin h3 {
    color: #ffffff;
    width: 25px;
    line-height: 28px;
    margin: 80px 0 0 32%;
}

#show-us .weixin .qrcode-box {
    width: 164px;
    height: 164px;
    background: #00627e;
    border-radius: 8px;
    margin: 54px 20% 2px 8%;
}

#show-us .qrcode-box img {
    width: 140px;
    height: 140px;
    margin: 12px;
}

#show-us .impress .rate {
    width: 480px;
    text-align: center;
    letter-spacing: 1px;
}

#show-us .rate h3 {
    color: #ffffff;
    margin: 46px 0 24px;
}

#show-us .rate p b {
    text-decoration: underline;
    font-weight: normal;
}

#show-us .rate .star-box {
    width: 264px;
    height: 64px;
    margin: 12px auto;
    background: #00627e;
    border-radius: 8px;
}

#show-us .star-box ul {
    margin: 0 17px;
}

#show-us .star-box ul li {
    list-style: none;
    float: left;
    margin: 15px 6px;
    width: 34px;
    height: 34px;
}

#show-us .star-box .star {
    background: url("../img/icon.png") -450px -100px;
}

#show-us .star-box .half-star {
    background: url("../img/icon.png") -450px -150px;
}

/* ============================================================ */
/*                         vans.html                            */
/* ============================================================ */

#vans-guide {
    margin-top: 80px;
    font-size: 16px;
    line-height: 24px;
}

#vans-guide p {
    margin: 24px 0;
}

/* ------------------------------------------------------------ */

#vans-type {
    margin-top: 80px;
}

#vans-type table {
    margin-top: 24px;
    border-top: 1px solid #00a1cd;
}

#vans-type table td {
    text-align: center;
    line-height: 28px;
}

#vans-type table td.head-text {
    background: #fff;
    color: #00a1cd;
    font-size: 36px;
    line-height: 180px;
    border-bottom: 3px solid #7acedc;
}

#vans-type table td.van-name {
    width: 34%;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

#vans-type table td.van-small {
    height: 123px;
    background: url("../img/vans.png") no-repeat 8px 14px;
    border-bottom: 3px solid #00a1cd;
}

#vans-type table td.van-big {
    height: 123px;
    background: url("../img/vans.png") no-repeat 18px -150px;
    background-size: 96%;
    border-bottom: 3px solid #7acedc;
}

/* ------------------------------------------------------------ */

#right-side {
    height: 400px;
    margin-top: 90px;
}

#right-side p:before {
    width: 220px;
    height: 140px;
    display: block;
    margin: 60px 0 14px;
    background: url("../img/vnas-icon.png") no-repeat;
    box-shadow: 0 6px 4px -4px #cdcdcd;
    content: "";
}

#right-side p+p:before {
    background: url("../img/vnas-icon.png") no-repeat 0 -150px;
}

#right-side p:last-of-type:before {
    background: url("../img/vnas-icon.png") no-repeat 0 -300px;
}

/* ------------------------------------------------------------ */

#vans-case {
    margin: 64px 0 64px 20px;
}

#vans-case .span2, #vans-case .span10 {
    height: 140px;
    margin-top: 24px;
    background: #7acedc;
}

#vans-case .span2 {
    text-align: center;
    color: #bde7ee;
    text-shadow: 0px -2px #0893B6;
}

#vans-case .span2 .van {
    width: 130px;
    height: 130px;
    margin: 5px;
    background: #00a1cd;
    position: relative;
}

#vans-case .span2 .van:after {
    width: 80px;
    height: 40px;
    left: 25px;
    top: 14px;
    position: absolute;
    border: 1px dashed #bde7ee;
    content: "";
    background: url("../img/icon.png") -432px 6px no-repeat;
}

#vans-case .span2:last-of-type .van:after {
    background: url("../img/icon.png") -432px -44px no-repeat;
}

#vans-case .span2 h4 {
    margin: 0;
    padding-top: 64px;
}

#vans-case .span2 time {
    font-size: 12px;
}

#vans-case .span10 {
    position: relative;
    overflow: hidden;
}

#vans-case .span10 tr td {
    text-align: center;
    line-height: 46px;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}

#vans-case .span10 tr:first-of-type td {
    height: 60px;
    line-height: 60px;
    border-top: none;
}

#vans-case .span10 tr:last-of-type td:last-of-type {
    width: 144px;
}

#vans-case .span10 .win8-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -12px;
    border: none;
}

#vans-case .span10 .prev {
    background: url("../img/win8-arrow.png") no-repeat 100% -50px;
    right: 100px;
}

#vans-case .span10 .next {
    background: url("../img/win8-arrow.png") no-repeat;
    right: 50px;
}

#vans-case .span10 .win8-btn:hover {
    -webkit-animation: bounce 1s 0s ease both;
    -moz-animation: bounce 1s 0s ease both;
    -ms-animation: bounce 1s 0s ease both;
}

/* ============================================================ */
/*                         book.html                            */
/* ============================================================ */

.book {
    margin-top: 70px;
    font-size: 16px;
    line-height: 24px;
}

.book .side p span {
    display: inline-block;
}

.book .side .ui-slider {
    width: 165px;
    height: 18px;
    margin: 3px 0 3px 7px;
    position: relative;
}

.book .side .ui-slider-1 {
    background: url("../img/book-icon.png") 0 0;
}

.book .side .ui-slider-2 {
    background: url("../img/book-icon.png") 0 -30px;
}

.book .side .ui-slider-3 {
    background: url("../img/book-icon.png") 0 -60px;
}

.book .side .ui-slider span {
    display: block;
    width: 33px;
    height: 28px;
    position: absolute;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
    background: url("../img/book-icon.png") -200px -3px;
}

.book .side .ui-slider-1 span {
    left: 140px;
    top: 18px;
}

.book .side .ui-slider-2 span {
    left: 90px;
    top: 18px;
}

.book .side .ui-slider-3 span {
    left: 40px;
    top: 18px;
}

.book hr {
    position: relative;
}

.book hr:after {
    position: absolute;
    left: 450px;
    top: -30px;
    content: "or";
    color: #bde7ee;
    background: #F7F9FC;
    padding: 10px 5px;
}

#book-by-qq, #book-by-tel, #book-by-web {
    margin: 24px 0 100px -20px;
}

#book-by-qq .book-qq {
    width: 182px;
    height: 70px;
    margin: 32px 124px 16px 0;
}

#book-by-qq .book-qq span {
    display: block;
    color: #FFFFFF;
    margin: 30px 0 0 70px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#book-by-qq .book-qq:hover {
    text-decoration: none;
    *text-decoration: underline;
}

#book-by-qq .book-qq:hover span {
    color: #FA9600;
    text-shadow: #ffffff 0px 0px 4px;
}

#book-by-qq .book-qq.online {
    background: url("../img/book-icon.png") 0 -90px;
}

#book-by-qq .book-qq.online:hover {
    -webkit-animation:tada 1s .2s ease both;
    -moz-animation:tada 1s .2s ease both;
    -ms-animation:tada 1s .2s ease both;
}

#book-by-qq .book-qq.offline {
    background: url("../img/book-icon.png") 0 -180px;
}

#book-by-qq .book-qq.offline:hover {
    -webkit-animation:shake 1s .2s ease both;
    -moz-animation:shake 1s .2s ease both;
    -ms-animation:shake 1s .2s ease both;
}

#book-by-tel .book-tel {
    width: 100%;
    height: 70px;
    margin: 32px 124px 16px 0;
    background: url("../img/book-icon.png") 0 -265px no-repeat;
}

#book-by-tel .book-tel span {
    display: block;
    color: #FFFFFF;
    margin: 30px 0 0 90px;
}

#book-by-web form {
    margin: 46px 0 64px;
    padding-left: 20px;
    border-left: 3px solid #7acedc;
}

#book-by-web label {
    font-size: 16px;
    margin-bottom: 14px;
}

#book-by-web label.error input {
    background: #ffdfe3;
}

#book-by-web label span {
    width: 48px;
    display: inline-block;
}

#book-by-web .arrowRight {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 20px 5px 16px;
    background-color: #999999;
    position: relative;
}

#book-by-web .arrowRight:after {
    position: absolute;
    left: 10px;
    top: -5px;
    width: 0;
    height: 0;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #999999;
}
#book-by-web .radio-line {
    height: 25px;
    margin: 15px 0;
    line-height: 36px;
}

#book-by-web label.radio {
    margin: 0 40px 0 10px;
}

/* ============================================================ */
/*                         price.html                           */
/* ============================================================ */

#left-side {
    margin-top: 80px;
    line-height: 24px;
}

#cost-list {
    margin: 80px 0;
}

#cost-list h3 {
    margin-top: 60px;
    color: #666;
}

#cost-list h3:last-of-type {
    color: #666666;
}

#cost-list dl {
    margin: 24px 0;
}

#cost-list dt {
    font-size: 18px;
    line-height: 30px;
    text-indent: 8px;
    font-weight: normal;
}

#cost-list dt:before {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    background: url("../img/price-icon.png");
    content: "";
}

#cost-list dt.dt-icon-1:before {
    background: url("../img/price-icon.png") 0 -30px;
}

#cost-list dt.dt-icon-2:before {
    background: url("../img/price-icon.png") 0 -60px;
}

#cost-list dt.dt-icon-3:before {
    background: url("../img/price-icon.png") 0 -90px;
}

#cost-list dd {
    margin-left: 38px;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    padding: 8px 0;
}

#cost-list dd span {
    font-size: 14px;
}

#cost-list p {
    color: #999999;
    line-height: 24px;
}

/* ============================================================ */
/*                         about.html                           */
/* ============================================================ */

.about {
    margin-top: 70px;
    font-size: 16px;
    line-height: 24px;
}

#about-us {
    margin-top: 24px;
}

#about-us .about-us-img {
    width: 380px;
    height: 240px;
    background: #d6e9c6;
    border: 1px solid #dedede;
    box-shadow: 0 6px 4px -4px #CDCDCD;
    margin-top: 60px;
}

#our-story, #brief-intro {
    margin-top: 40px;
}

#our-story p, #brief-intro p {
    text-indent: 28px;
    font-size: 14px;
}

#time-line {
    position: relative;
    height: 220px;
    margin-top: 40px;
}

#time-line .line {
    height: 1px;
    width: 100%;
    border-bottom: 3px solid #6D8398;
    position: absolute;
    top: 100px;
}

#time-line .timeico {
    width: 19px;
    height: 18px;
    background: url("../img/timeico.png");
    position: absolute;
    top: 98px;
}

#time-line .bubble {
    width: 24px;
    height: 31px;
    background: url("../img/bubble.png");
    position: absolute;
    top: 76px;
    z-index: 5;
    cursor: pointer;
}

#time-line .big-bubble {
    background: url("../img/bubblegl.png");
    width: 31px;
    height: 41px;
    position: absolute;
    top: 66px;
    left: 162px;
    z-index: 13;
}

#time-line .time-text {
    position: absolute;
    top: 134px;
    font-size: 12px;
    border: 1px solid #B2B2B2;
    border-radius: 7px;
    padding: 3px 6px;
    background: whiteSmoke;
    color: #666;
    white-space: nowrap;
}

#time-line .time-text:before {
    position: absolute;
    left: 48%;
    top: -21px;
    width: 0;
    height: 0;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #B2B2B2 transparent;
}

#time-line .time-text:after {
    position: absolute;
    left: 48%;
    top: -19px;
    width: 0;
    height: 0;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent whiteSmoke transparent;
}

#time-line .time-date div {
    position: absolute;
    top: 36px;
    color: #3D3D3D;
}

#join-us {
    margin: 40px 0 120px -20px;
    position: relative;
}

#join-us .recruit {
    border-left: 3px solid #7acedc;
    text-indent: 12px;
}

#join-us .map {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #DEDEDE;
    box-shadow: 0 6px 4px -4px #CDCDCD;
}

/* ============================================================ */

#contact {
    width: 100%;
    height: 168px;
    margin-top: 40px;
    color: #ffffff;
    text-shadow: 0 -2px #0893B6;
    background-color: #00a1cd;
    background-image: url(../img/signup-bg.png), url("../img/bgimg.png");
    background-repeat: repeat-x, no-repeat;
    background-position: 0 0, 50% -282px;
}

#show-us + #contact {
    background: #00a1cd url("../img/bgimg.png") 50% -282px no-repeat;
    margin-top: 0;
}

#contact .links {
    width: 700px;
    height: 78px;
    padding-top: 90px;
    margin: 0 auto;
    overflow: hidden;

}

.QQ, .TEL {
    height: 48px;
    margin: 25px 0 0 102px;
    font-size: 24px;
    color: #ffffff;
    line-height: 48px;
    text-indent: 60px;
}

.QQ {
    background: url("../img/icon.png") -450px -200px no-repeat;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.QQ:hover {
    color: #ffffff;
    text-decoration: none;
    *text-decoration: underline;
    text-shadow: #FA9600 0px 0px 8px;
    -webkit-animation:tada 1s .2s ease both;
    -moz-animation:tada 1s .2s ease both;
    -ms-animation:tada 1s .2s ease both;
}

.TEL {
    background: url("../img/icon.png") -450px -260px no-repeat;
}

.float-tool {
    position: fixed;
    bottom: 217px;
    right: 0.1%;
    z-index: 250;
    width: 38px;
}

.float-tool .btn-tool {
    margin: 5px 0;
    width: 22px;
    height: 22px;
    background: #f1f1f1;
    background: rgba(230, 230, 230, 0.81);
    font-size: 21px;
    padding: 8px;
    cursor: pointer;
}

.float-tool .btn-tool:hover {
    background: #27b5d7;
}

.float-tool .btn-tool .J_up2 {
    width: 22px;
    height: 22px;
    background: url("../img/icon.png") -450px -365px;
}

.float-tool .btn-tool:hover .J_up2 {
    background-position: -450px -390px;
}

.float-tool .J_help {
    width: 38px;
    height: 38px;
    margin: -8px;
    background: url("../img/online_help.gif") 0 -96px;
}

.float-tool .J_help:hover {
    background-position: 0 -48px;
}

.float-tool .J_tel_num {
    position: relative;
    width: 22px;
    height: 22px;
    background: url("../img/icon.png") -450px -420px;
}

.float-tool .btn-tool:hover .J_tel_num {
    background-position: -450px -450px;
}

.float-tool .J_tel_num span {
    position: absolute;
    top: -8px;
    right: 32px;
    height: 22px;
    width: 0;
    background-color: #27b5d7;
    display: block;
    padding: 8px 0;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: width .25s linear;
    -moz-transition: width .25s linear;
    -o-transition: width .25s linear;
    transition: width .25s linear;
}

.float-tool .btn-tool:hover .J_tel_num span {
    width: 168px;
}


footer {
    background: #053849;
    padding: 20px 0 2px;
    box-shadow: inset 0 10px 20px -10px #050e1b;
}

footer p, footer p a {
    line-height: 14px;
    text-align: center;
    text-shadow: 0px -1px #05495a;
    color: #050e1b;
}

footer p a {
    padding: 0 16px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

footer p a:hover {
    color: #FA9600;
    text-decoration: none;
}

/* ============================================================ */

#assess {
    width: 640px;
    height: 360px;
    position: relative;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}

#assess .as-head {
    height: 50px;
    margin: 10px 0;
    border-bottom: 1px solid #00a1cd;
}

#assess h2, #assess h3 {
    color: #00a1cd;
    margin-left: 140px;
}

#assess h2:before, #assess h3:before {
    position: absolute;
    left: -16px;
    top: -4px;
    font-size: 60px;
    content: "Step";
    -moz-transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    transform:rotate(-10deg);
}

#assess h3:before {
    content: "End";
}

#assess .as-body {
    width: 80%;
    height: 230px;
    margin: 24px auto 46px;
    position: relative;
}

#assess .as-body .btn-large {
    position: absolute;
    font-size: 16px;
    right: 2%;
    bottom: 0;
}

#assess .as-distance {
    font-size: 16px;
    position: relative;
}

#assess .as-distance .tooltip {
    top: 36px;
    left: 82px;
    display: none;
}

#assess .as-distance label:before {
    content: "\e008";
    font-family: 'Flat-UI-Icons';
    padding-right: 8px;
    font-size: 20px;
    color: #FA9600;
    -webkit-font-smoothing: antialiased;
}

#assess .as-big-checked {
    padding: 8px 12px 2px;
    min-height: 34px;
    max-height: 102px;
    overflow: hidden;
}

#assess .as-big {
    text-align: center;
    position: relative;
    z-index: 3;
}

#assess .as-big a {
    cursor: pointer;
    padding: 0 6px;
    display: inline-block;
    -webkit-transition: 0.14s linear;
    -moz-transition: 0.14s linear;
    -o-transition: 0.14s linear;
    transition: 0.14s linear;
}
#assess .as-big a:hover {
    text-decoration: underline;
    color: #FABD4A;
}

#assess .as-minibus, #assess .as-buggy {
    width: 150px;
    height: 100px;
    margin: 0 50px;
    cursor: pointer;
    position: relative;
}

#assess .as-minibus.current:after, #assess .as-buggy.current:after {
    font-family: 'Flat-UI-Icons';
    content: "\e006";
    color: #FA9600;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
}

#assess .as-minibus {
    background: url("../img/vans.png") 8px 10px no-repeat;
    background-size: 150px;
}

#assess .as-buggy {
    background: url("../img/vans.png") 10px -114px no-repeat;
    background-size: 150px;
}

#assess .as-price {
    text-align: center;
    font-size: 30px;
    color: #FA9600;
    padding: 20px;
}

#assess .as-price:before {
    content: "¥";
    font-size: 36px;
    padding-right: 16px;
}
#assess .as-price:after {
    content: "元";
    padding-left: 4px;
}

#assess .as-book {
    text-align: center;
}

#assess .as-book .btn-more {
    margin: 30px auto 10px;
}

#assess .input-append input[type="text"] {
    border-radius: 6px 0 0 6px;
}

#assess .input-append button {
    border-radius: 0 6px 6px 0;
    background: #BDC3C7;
    color: #ffffff;
    box-shadow: none;
    border: none;
    height: 35px;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

#assess .input-append input[type="text"].value {
    border-color: #00a1cd;
}

#assess .input-append input[type="text"]:focus ~ button,
#assess .input-append input[type="text"].value ~ button{
    background: #00a1cd;
    border: none;
}

#assess .as-floor {
    margin: 30px;
}

#assess .as-floor:first-letter {
    font-size: 18px;
    color: #FA9600;
}

#assess .as-foot {
    position: absolute;
    height: 8px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #00a1cd;
}

#assess .as-foot .car {
    position: absolute;
    height: 30px;
    width: 50px;
    top: -22px;
    left: 90px;
    background: #ffffff url("../img/icon.png") -445px -320px no-repeat;
}

#assess .as-foot .num {
    position: absolute;
    height: 30px;
    width: 60px;
    top: -22px;
    right: 0;
    background: #00a1cd;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    border-top-left-radius: 6px;
}

#assess .as-foot .num a {
    color: #ffffff;
    cursor: pointer;
    font-style: normal;
}

#assess .as-foot .num a:hover {
    text-decoration: underline;
}

#assess .as-body .rotateOut {
    -webkit-animation:rotateOutDownLeft 1s .2s ease both;
    -moz-animation:rotateOutDownLeft 1s .2s ease both;
    -ms-animation:rotateOutDownLeft 1s .2s ease both;
}

/* ============================================================ */

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 2px solid #BDC3C7;
    color: #34495E;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 5px;
    height: 21px;
    text-indent: 6px;
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear;
    -moz-transition: border .25s linear, color .25s linear;
    -o-transition: border .25s linear, color .25s linear;
    transition: border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
}

.control-group.focus textarea, .control-group.focus input[type="text"], .control-group.focus input[type="password"], .control-group.focus input[type="datetime"], .control-group.focus input[type="datetime-local"], .control-group.focus input[type="date"], .control-group.focus input[type="month"], .control-group.focus input[type="time"], .control-group.focus input[type="week"], .control-group.focus input[type="number"], .control-group.focus input[type="email"], .control-group.focus input[type="url"], .control-group.focus input[type="search"], .control-group.focus input[type="tel"], .control-group.focus input[type="color"], .control-group.focus .uneditable-input, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #00a1cd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.btn-next {
    background: #FA9600;
    padding: 12px 36px;
    border: none;
    box-shadow: none;
    color: #ffffff;
    margin-top: 30px;
}

.btn-next:hover {
    background: #FABD4A;
}

.btn-more {
    background: #00a1cd;
    padding: 12px 36px;
    border: none;
    box-shadow: none;
    color: #ffffff;
}

.btn-more:hover {
    background: #46b8e2;
    color: #ffffff;
    text-decoration: none;
}


.tooltip.bottom .tooltip-inner {
    background: #053849;
}
.tooltip.bottom .tooltip-inner a {
    color: #7acedc;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #053849;
}

.tag {
    border-radius: 4px;
    background-color: #3498DB;
    color: #ffffff;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 15px;
    padding: 6px 13px 8px 19px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    -webkit-transition: 0.14s linear;
    -moz-transition: 0.14s linear;
    -o-transition: 0.14s linear;
    transition: 0.14s linear;
    -webkit-backface-visibility: hidden;
}
.tag span {
    padding-right: 4px;
}
.tag:hover {
    background-color: #2980B9;
    color: #FFF;
    padding-left: 12px;
    padding-right: 20px;
}

.tag-remove-link {
    bottom: 0;
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    opacity: 0;
    padding: 7px 7px 5px 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 2;
    display: none\9;
}

.tag-remove-link:before {
    color: #FFF;
    content: "\e00b";
    font-family: "Flat-UI-Icons";
}

.tag:hover .tag-remove-link {
    display: block\9;
    text-decoration: none;
    opacity: 1;
}

hr {
    border-top: 1px solid #bde7ee;
    border-bottom: 1px solid #ececec;
}



@-webkit-keyframes bounce{
    0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}
    40%{-webkit-transform:translateY(-20px)}
    60%{-webkit-transform:translateY(-10px)}
}
@-moz-keyframes bounce{
    0%,20%,50%,80%,100%{-moz-transform:translateY(0)}
    40%{-moz-transform:translateY(-20px)}
    60%{-moz-transform:translateY(-10px)}
}
@-ms-keyframes bounce{
    0%,20%,50%,80%,100%{-ms-transform:translateY(0)}
    40%{-ms-transform:translateY(-20px)}
    60%{-ms-transform:translateY(-10px)}
}

@-webkit-keyframes shake{
    0%,100%{-webkit-transform:translateX(0);}
    10%,30%,50%,70%,90%{-webkit-transform:translateX(-2px);}
    20%,40%,60%,80%{-webkit-transform:translateX(10px);}
}
@-moz-keyframes shake{
     0%,100%{-moz-transform:translateX(0);}
     10%,30%,50%,70%,90%{-moz-transform:translateX(-2px);}
     20%,40%,60%,80%{-moz-transform:translateX(10px);}
 }
@-ms-keyframes shake{
    0%,100%{-ms-transform:translateX(0);}
    10%,30%,50%,70%,90%{-ms-transform:translateX(-2px);}
    20%,40%,60%,80%{-ms-transform:translateX(10px);}
}

@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1)}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg)}
    30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg)}
    40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg)}
    100%{-webkit-transform:scale(1) rotate(0)}
}
@-moz-keyframes tada{
    0%{-moz-transform:scale(1)}
    10%,20%{-moz-transform:scale(0.9) rotate(-3deg)}
    30%,50%,70%,90%{-moz-transform:scale(1.1) rotate(3deg)}
    40%,60%,80%{-moz-transform:scale(1.1) rotate(-3deg)}
    100%{-moz-transform:scale(1) rotate(0)}
}
@-ms-keyframes tada{
    0%{-ms-transform:scale(1)}
    10%,20%{-ms-transform:scale(0.9) rotate(-3deg)}
    30%,50%,70%,90%{-ms-transform:scale(1.1) rotate(3deg)}
    40%,60%,80%{-ms-transform:scale(1.1) rotate(-3deg)}
    100%{-ms-transform:scale(1) rotate(0)}
}

@-webkit-keyframes rotateOutDownLeft{
    0%{-webkit-transform-origin:left bottom;
        -webkit-transform:rotate(0);
        opacity:1}
    100%{-webkit-transform-origin:left bottom;
        -webkit-transform:rotate(90deg);
        opacity:0}
}
@-moz-keyframes rotateOutDownLeft{
    0%{-moz-transform-origin:left bottom;
        -moz-transform:rotate(0);
        opacity:1}
    100%{-moz-transform-origin:left bottom;
        -moz-transform:rotate(90deg);
        opacity:0}
}
@-ms-keyframes rotateOutDownLeft{
    0%{-ms-transform-origin:left bottom;
        -ms-transform:rotate(0);
        opacity:1}
    100%{-ms-transform-origin:left bottom;
        -ms-transform:rotate(90deg);
        opacity:0}
}


.video-js{background-color:transparent;margin-top:-95px;position:relative;padding:0;font-size:10px;vertical-align:middle;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;}.video-js .vjs-tech{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;}.video-js:-moz-full-screen{position:absolute;}body.vjs-full-window{padding:0;margin:0;height:100%;overflow-y:auto;}.video-js.vjs-fullscreen{position:fixed;overflow:hidden;z-index:1000;left:0;top:0;bottom:0;right:0;width:100% !important;height:100% !important;_position:absolute;}.video-js:-webkit-full-screen{width:100% !important;height:100% !important;}.vjs-poster{margin:0 auto;padding:0;cursor:pointer;position:relative;width:100%;max-height:100%;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;}.video-js .vjs-text-track-display{text-align:center;position:absolute;bottom:4em;left:1em;right:1em;font-family:"Lato",sans-serif;}.video-js .vjs-text-track{display:none;color:#ffffff;font-size:1.4em;text-align:center;margin-bottom:.1em;background:#000;background:rgba(0,0,0,0.5);}.video-js .vjs-subtitles{color:#fff;}.video-js .vjs-captions{color:#fc6;}.vjs-tt-cue{display:block;}.vjs-fade-in{visibility:visible !important;opacity:1 !important;-webkit-transition:visibility 0s linear 0s,opacity .3s linear;-moz-transition:visibility 0s linear 0s,opacity .3s linear;-o-transition:visibility 0s linear 0s,opacity .3s linear;transition:visibility 0s linear 0s,opacity .3s linear;-webkit-backface-visibility:hidden;}.vjs-fade-out{visibility:hidden !important;opacity:0 !important;-webkit-transition:visibility 0s linear 1.5s,opacity 1.5s linear;-moz-transition:visibility 0s linear 1.5s,opacity 1.5s linear;-o-transition:visibility 0s linear 1.5s,opacity 1.5s linear;transition:visibility 0s linear 1.5s,opacity 1.5s linear;-webkit-backface-visibility:hidden;}.vjs-controls{position:absolute;bottom:-47px;left:0;right:0;margin:0;padding:0;height:47px;color:#ffffff;background:#273747;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;}.vjs-controls.vjs-fade-out{visibility:visible !important;opacity:1 !important;}.vjs-control{background-position:center center;background-repeat:no-repeat;position:relative;float:left;text-align:center;margin:0;padding:0;height:18px;width:18px;}.vjs-control:focus{outline:0;}.vjs-control div{background-position:center center;background-repeat:no-repeat;}.vjs-control-text{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.vjs-play-control{cursor:pointer !important;height:47px;left:0;position:absolute;top:0;width:58px;}.vjs-play-control div{position:relative;height:47px;}.vjs-play-control div:before,.vjs-play-control div:after{position:absolute;font-family:"Flat-UI-Icons";color:#52a8dc;font-size:16px;top:50%;left:50%;margin:-0.55em 0 0 -0.5em;-webkit-transition:color .25s,opacity .25s;-moz-transition:color .25s,opacity .25s;-o-transition:color .25s,opacity .25s;transition:color .25s,opacity .25s;-webkit-backface-visibility:hidden;}.vjs-play-control div:after{content:"\e03b";}.vjs-play-control div:before{content:"\e03c";}.vjs-paused .vjs-play-control:hover div:before{color:#0893B6;}.vjs-paused .vjs-play-control div:after{opacity:0;filter:alpha(opacity=0);}.vjs-paused .vjs-play-control div:before{opacity:1;filter:alpha(opacity=100);}.vjs-playing .vjs-play-control:hover div:after{color:#0893B6;}.vjs-playing .vjs-play-control div:after{opacity:1;filter:alpha(opacity=100);}.vjs-playing .vjs-play-control div:before{opacity:0;filter:alpha(opacity=0);}.vjs-rewind-control{width:5em;cursor:pointer !important;}.vjs-rewind-control div{width:19px;height:16px;background:none transparent;margin:.5em auto 0;}.vjs-mute-control{background:url(../img/video/volume-full.png) center -48px no-repeat;background-size:16px 64px;cursor:pointer !important;position:absolute;right:51px;top:14px;}.vjs-mute-control:hover div,.vjs-mute-control:focus div{opacity:0;}.vjs-mute-control.vjs-vol-0,.vjs-mute-control.vjs-vol-0 div{background-image:url(../img/video/volume-off.png);}.vjs-mute-control div{background:#273747 url(../img/video/volume-full.png) no-repeat center 2px;background-size:16px 64px;height:18px;-webkit-transition:opacity 0.25s;-moz-transition:opacity 0.25s;-o-transition:opacity 0.25s;transition:opacity 0.25s;-webkit-backface-visibility:hidden;}.vjs-volume-control,.vjs-volume-level,.vjs-volume-handle,.vjs-volume-bar{display:none;}.vjs-progress-control{position:absolute;left:60px;right:180px;height:12px;width:auto;top:18px;background:#425669;-webkit-border-radius:32px;-moz-border-radius:32px;border-radius:32px;}.vjs-progress-holder{position:relative;cursor:pointer !important;padding:0;margin:0;height:12px;}.vjs-play-progress,.vjs-load-progress{position:absolute;display:block;height:12px;margin:0;padding:0;left:0;top:0;-webkit-border-radius:32px;-moz-border-radius:32px;border-radius:32px;}.vjs-play-progress{background:#52a8dc;left:-1px;}.vjs-load-progress{background:#d6dbdf;-webkit-border-radius:32px 0 0 32px;-moz-border-radius:32px 0 0 32px;border-radius:32px 0 0 32px;}.vjs-load-progress[style*='100%'],.vjs-load-progress[style*='99%']{-webkit-border-radius:32px;-moz-border-radius:32px;border-radius:32px;}.vjs-seek-handle{background-color:#0893B6;position:absolute;width:18px;height:18px;margin:-3px 0 0 1px;left:0;top:0;-webkit-transition:background-color 0.25s;-moz-transition:background-color 0.25s;-o-transition:background-color 0.25s;transition:background-color 0.25s;-webkit-backface-visibility:hidden;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}.vjs-seek-handle[style*='95.']{margin-left:3px;}.vjs-seek-handle[style='left:0%;']{margin-left:-2px;}.vjs-seek-handle:hover,.vjs-seek-handle:focus{background-color:#087898;}.vjs-seek-handle:active{background-color:#087494;}.vjs-time-controls{position:absolute;height:20px;width:50px;top:16px;font:300 13px "Lato",sans-serif;}.vjs-current-time{right:128px;text-align:right;}.vjs-duration{color:#5d6d7e;right:69px;text-align:left;}.vjs-remaining-time{display:none;}.vjs-time-divider{color:#5d6d7e;font-size:14px;position:absolute;right:121px;top:15px;}.vjs-secondary-controls{float:right;}.vjs-fullscreen-control{background-image:url(../img/video/fullscreen.png);background-position:center -47px;background-size:15px 64px;cursor:pointer !important;position:absolute;right:17px;top:13px;}.vjs-fullscreen-control:hover div,.vjs-fullscreen-control:focus div{opacity:0;}.vjs-fullscreen-control div{height:18px;background:url(../img/video/fullscreen.png) no-repeat center 2px;background-size:15px 64px;-webkit-transition:opacity 0.25s;-moz-transition:opacity 0.25s;-o-transition:opacity 0.25s;transition:opacity 0.25s;-webkit-backface-visibility:hidden;}.vjs-menu-button{display:none !important;}.vjs-loading-spinner{background:#ebedee;display:none;height:32px;left:50%;margin:-16px 0 0 -16px;position:absolute;top:50%;width:32px;background:url("../img/video/loading.gif");}