body {
    font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
    font-size: 100%;
    position: relative; /* For scrollyspy */
    padding-top: 50px; /* Account for fixed navbar */
}

.xm-nav {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #053849;
    border-color: #042c3a;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.xm-nav .navbar-brand {
    color: #ffffff;
    font-size: 1.8em;
}

.xm-nav .navbar-nav > li > a {
    color: #00b7e3;
    font-size: 1.4em;
}

.xm-nav .navbar-nav > .active > a {
    background: #042c3a;
}

.xm-nav .navbar-toggle {
    border: #053849;
}

.xm-nav .navbar-toggle:hover {
    background-color: #042c3a;
    border-color: #042c3a;
}

.xm-nav .navbar-collapse {
    border-color: #042c3a;
}


#welcome {
    width: 100%;
    height: 413px;
    background: #00A1CD;
    background-position: left bottom, 23% 100%, right bottom;
    background-image: url("../img/hero_left.png"), url("../img/hero_float.png"), url("../img/hero_right.png");
    background-size: auto;
    background-repeat: no-repeat;
}

.xm-wlc-words {
    margin-top: 36px;
}

.xm-wlc-words > h1 {
    font-size: 4.0em;
    color: #ffffff;
    text-shadow: 0 -2px #0893B6;
}

.xm-wlc-words > p {
    color: #ffffff;
    font-size: 1.8em;
    line-height: 1.6em;
    margin: 16px 6px;
    text-shadow: 0 -2px #0893B6;
}


@media screen and (max-width: 1200px) {
    #welcome {
        background-position: left bottom, 23% 100%, right bottom;
        background-image: url("../img/hero_left.png"), url("../img/hero_float.png"), url("../img/hero_right.png");
        background-size: 20%, 8.25%, 67.5%;
    }
}


@media screen and (max-width: 768px) {
    #welcome {
        background-position: 2% bottom, right bottom;
        background-image: url("../img/hero_float.png"), url("../img/hero_right.png");
        background-size: 63px, 518px;
    }

    .xm-wlc-words {
        margin-top: 40px;
        text-align: center;
    }

    .xm-wlc-words > p > span {
        padding: 0 6px;
        background: rgba(0, 161, 205, 0.75);
        border-radius: 6px;
        box-shadow: 0 0 10px 5px rgba(0, 161, 205, 0.75);
        text-shadow: 0 -2px #0893B6;
    }
}